.cars{
    background-color: blue;
    padding: 10px;
    margin: 10px;
    text-align: center;

}
.fruits{
    background-color: orange;
    padding: 20px;
    margin: 20px;
}
#wanafunzi{
    text-align: center;
    background-color: blue;
}